<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <p-card class="w-96">
    <ng-template pTemplate="title">
      <h2 class="text-center text-lg font-semibold">Login</h2>
    </ng-template>

    <ng-template pTemplate="content">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        class="flex flex-col gap-4"
      >
        <div>
          <label for="email" class="block text-sm font-medium">Email</label>
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            class="w-full p-2 border rounded"
            autocomplete="email"
          />
        </div>

        <div>
          <label for="password" class="block text-sm font-medium"
            >Password</label
          >
          <p-password
            id="password"
            type="password"
            toggleMask
            formControlName="password"
            class="w-full p-2 border rounded"
            autocomplete="new-password"
          />
        </div>

        <button
          pButton
          type="submit"
          label="Login"
          class="w-full"
          [disabled]="!loginForm.valid"
        ></button>
      </form>

      <div class="mt-4 text-center">
        <a routerLink="../register" class="text-blue-500">Create an account</a>
      </div>
    </ng-template>
  </p-card>
</div>
