<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <p-card class="w-96">
    <ng-template pTemplate="title">
      <h2 class="text-center text-lg font-semibold">Sign Up</h2>
    </ng-template>

    <ng-template pTemplate="content">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="register()"
        class="flex flex-col gap-4"
      >
        <div>
          <label for="name" class="block text-sm font-medium">Name</label>
          <input
            id="name"
            type="text"
            pInputText
            formControlName="name"
            class="w-full p-2 border rounded"
          />
        </div>

        <div>
          <label for="email" class="block text-sm font-medium">Email</label>
          <input
            id="email"
            type="email"
            pInputText
            formControlName="email"
            class="w-full p-2 border rounded"
          />
        </div>

        <div>
          <label for="password" class="block text-sm font-medium"
            >Password</label
          >
          <p-password
            id="password"
            type="password"
            toggleMask
            formControlName="password"
            class="w-full p-2 border rounded"
          />
        </div>

        <button pButton type="submit" label="Sign Up" class="w-full"></button>
      </form>

      <div class="mt-4 text-center">
        <a routerLink="../login" class="text-blue-500"
          >Already have an account?</a
        >
      </div>
    </ng-template>
  </p-card>
</div>

<p-toast position="bottom-right" key="br"></p-toast>
